body {
    background-color: #000000;
    margin: 0;
    font-family: sans-serif;
   
}

{
    outline: 1px solid yellow;  
}
 .search {
            background-color: white;
            width: 200px;
            color: white;
        }
        
.header{
    height: 90px;
    position: fixed;
    height: 90px;
    width: 100%;
}

.banner img {
    width: 100%;
    max-width: 100%;
}

.banner {
    background-color: #000000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}


.video {
    background-color: #000000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;

}
.map {
    background-color: #000000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}



.contact{
    
    text-align: left;
    font-family: Josefin Sans;
    color: white;
}



.nav {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-family: Josefin Sans;
}

.links {
    float: right;
    color: #44495b;
    padding-top: 20px;
    font-family: Josefin Sans
    
}

.nav .links a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    float: left;
    margin-top: 13px;
    font-size: 1.35em;
}

.nav .logo a {
    color: black;
    text-decoration: none;
}

.behindthescenes {
    padding: 50px;
    text-align: center;
}

.behindthescenes img {
    padding: 40px;
    width: 25%;
    max-width: 950px;
}


.behind img{
     padding: 40px;
}


.dscptn {
    color: white;
    padding-top: 50px;
    font-family: Josefin Sans;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
    position: relative;
}




@media screen and (max-width: 300px) {
}

@media screen and (max-width: 550px) {
   .links {
        padding-top: 8px;
        float: left;
    }
}